

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Appointment</title>
</head>
<body>
    <form action="/cancel-appointment" method="post">
        <div>
          <label for="title">Name:</label>
          <input type="text" id="name" name="name">
        </div>
        <button type="submit">Cancel Appointment</button>
      </form>
      
</body>
</html>

  